<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <div class="row mt-2 p-2">
    <form>
      <div class="form-group">
        <label for="atividade">Atividade:</label>
        <input type="text" name="atividade" id="atividade" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Atividade:</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Atividade 1</td>
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
            </div>
          </td>
          <td>Ações</td>
        </tr>
        <tr>
          <td>Atividade 2</td>
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
            </div>
          </td>
          <td>Ações</td>
        </tr>
        <tr>
          <td>Atividade 2</td>
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
            </div>
          </td>
          <td>Ações</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>